.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Main-photo {
  height:40vmin;
}

.App-header {
  /*background-color: #282c34;*/
  background-color: #228844;
  min-height: calc(100vh - 64px);



  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10pt + 2vmin);
  color: white;
}
/*@media (max-width: 959px)and (orientation: landscape) {
  .App-header{
    min-height: calc(100vh - 48px);
  }
}*/

@media (max-width: 599px) {
  .App-header{
    min-height: calc(100vh - 56px);
  }
}

.App-link {
  color: #61dafb;
}

.body-content {
  padding: 1vmin 5vmin 0 5vmin ;
}

.body-text {
  font-size: calc(8pt + 1vmin);
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
