@import "../BodyStyles.css";

.Main-photo {
  height: 40vmin;
}

@media (min-width: 960px) {
	.Main-photo {
	  height: 60vh;
	}
}

.subheader {
	margin-top: 0;
	margin-bottom: 0;
	font-size: calc(8pt + 1.5vmin);
}